
.header-nav {
    background-color: #FCFCFC;
    border-bottom: 1px solid #F3F3F3;
}

.header-nav .nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .nav-container .cap-category {
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18446E;
    border: 1px solid transparent;
}

.header-nav .nav-container .cap-category i {
    width: 14px;
    height: 14px;
    background-color: white;
}

.header-nav .nav-container .cap-category span {
    color: white;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
}

.header-nav .nav-container > div:nth-child(2) {
    flex-grow: 4;
    flex-basis: 0;
}

.header-nav .nav-container > div:nth-child(2) ul {
    width: 55%;
    margin-left: auto;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.header-nav .nav-container > div:nth-child(2) ul li a {
    text-decoration: none;
    color: #1B1C1E;
    font-weight: 600;
    font-family: roboto, sans-serif;
    transition-duration: .2s;
}

.header-nav .nav-container > div:nth-child(2) ul li a:hover {
    color: #F2B143;
}


@media (max-width: 576px) {

    .header-nav .nav-container .cap-category {
        flex-grow: 0;
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .header-nav .nav-container .cap-category span {
        display: none;
    }

    .header-nav .nav-container .cap-category i {
        width: 12px;
        height: 12px;
    }

    .header-nav .nav-container > div:nth-child(2) {
        padding: 10px;
    }

    .header-nav .nav-container > div:nth-child(2) ul {
        width: 100%;
        margin: 0;
    }

    .header-nav .nav-container > div:nth-child(2) ul li a {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .header-nav .nav-container .cap-category {
        flex-grow: 0;
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .header-nav .nav-container .cap-category span {
        display: none;
    }

    .header-nav .nav-container .cap-category i {
        width: 14px;
        height: 14px;
    }

    .header-nav .nav-container > div:nth-child(2) {
        padding: 10px;
    }

    .header-nav .nav-container > div:nth-child(2) ul {
        width: 100%;
        margin: 0;
    }

    .header-nav .nav-container > div:nth-child(2) ul li a {
        font-size: 12px;
    }
}