
.header-face .face-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-face .face-container .img-advertising {
    margin-left: 15px;
    flex-basis: 75%;
    background-image: url('https://sardorigamberdiyev.github.io/bozorcom/images/Img Bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    position: relative;
}

.header-face .face-container .img-advertising img {
    position: absolute;
    top: 100px;
    left: 40px;
}

@media (max-width: 576px) {
    .header-face .face-container {
        display: block;
        justify-content: unset;
    }

    .header-face .face-container .img-advertising {
        width: 100%;
        height: 200px;
        margin-left: 0;
    }

    .header-face .face-container .img-advertising img {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header-face .face-containert {
        display: block;
        justify-content: unset;
    }

    .header-face .face-container .img-advertising {
        width: 100%;
        height: 200px;
        margin-left: 0;
    }

    .header-face .face-container .img-advertising img {
        display: none;
    }
}