
.brand-carousel .brand-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-carousel .brand-header h2 {
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    color: #252525;
}

.brand-carousel .brand-header hr {
    border: 1px solid #e2e1e1;
    width: 100%;
}

.brand-carousel .brand-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-carousel .brand-header div {
    font-family: roboto, sans-serif;
    font-size: 14px;
}

.brand-carousel .brand-header div button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #e2e1e1;
    border-radius: 4px;
    transition-duration: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-carousel .brand-header div button i {
    width: 12px;
    height: 12px;
}

.brand-carousel .brand-header div button:focus {
    outline-style: none;
}

.brand-carousel .brand-header div button:hover {
    background-color: #F2B143;
    cursor: pointer;
}

.brand-carousel .brand-header div button:hover i {
    background-color: white;
}

.brand-carousel .brand-item {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.brand-carousel .brand-item img {
    margin: 0 5px;
}

.brand-carousel .alice-carousel__stage-item {
    vertical-align: middle;
}

@media (max-width: 576px) {

    .brand-carousel .brand-header h2 {
        font-size: 18px;
    }

    .brand-carousel .brand-header hr {
        margin: 0 10px;
    }

    .brand-carousel .brand-header > div span {
        width: 110px;
        font-size: 12px;
    }

    .brand-carousel .brand-header > div .btn-left-right button:nth-child(1) {
        margin-right: 5px;
    }

    .brand-carousel .brand-header > div .btn-left-right button {
        background-color: #F2B143;
        border-color: #F2B143;
    }
    .brand-carousel .brand-header > div .btn-left-right button i {
        background-color: white;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .brand-carousel .brand-header h2 {
        font-size: 22px;
    }

    .brand-carousel .brand-header hr {
        margin: 0 10px;
    }

    .brand-carousel .brand-header > div span {
        width: 140px;
        font-size: 14px;
    }

    .brand-carousel .brand-header > div .btn-left-right button:nth-child(1) {
        margin-right: 5px;
    }

    .brand-carousel .brand-header > div .btn-left-right button {
        background-color: #F2B143;
        border-color: #F2B143;
    }
    .brand-carousel .brand-header > div .btn-left-right button i {
        background-color: white;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .brand-carousel .brand-header h2 {
        font-size: 28px;
    }

    .brand-carousel .brand-header hr {
        margin: 0 10px;
    }

    .brand-carousel .brand-header > div span {
        width: 140px;
        font-size: 14px;
    }

    .brand-carousel .brand-header > div .btn-left-right button:nth-child(1) {
        margin-right: 5px;
    }

    .brand-carousel .brand-header > div .btn-left-right button {
        background-color: #F2B143;
        border-color: #F2B143;
    }
    .brand-carousel .brand-header > div .btn-left-right button i {
        background-color: white;
    }
}