
.category-list-details {
    width: 900px;
    height: 440px;
    padding: 30px;
    box-shadow: 0 0 5px 2px rgba(95, 95, 95, 0.151);
    display: none;
    z-index: 999;
    background-color: white;
    position: absolute;
    top: 0;
    left: 268px;
}

.category-list-details > p {
    text-align: center;
}

.category-list-details > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.category-list-details > ul > li {
    flex-basis: 32%;
}

.category-list-details > ul > li:nth-child(3) > div:nth-child(2) {
    height: 40%;
    margin-top: 22px;
    background-image: url('https://sardorigamberdiyev.github.io/bozorcom/images/bg/Layer 657.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.category-list-details > ul > li:nth-child(3) > div:nth-child(2)::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.705);
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.category-list-details > ul > li:nth-child(3) > div:nth-child(2) img {
    width: 220px;
    z-index: 1000;
    position: absolute;
    top: 60px;
    left: 40px;
}